:root{

    --green:rgb(171, 212, 93)
}

* {
    margin: 0;
    padding: 0;
}

/* ==================================NavBar ========================================= */

.nav-bar {
    width: 70vw;
    /* margin: 0  5rem 0rem 0 ; */
    display: flex;
    justify-content: center;
}

.nav-bar-list {
    width: 100%;
    display: flex;
    margin: 5rem;
    list-style: none;
    justify-content: space-around;
}

.nav-bar-list>li {
    font-weight: bold;
    font-size: small;
}


/* ============================== Rachel Green ================================ */

.Rachel-Green {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0rem 0 5rem;
}

.Rachel-Green-text {
    margin: 5.5rem 0 0 0;
    width: auto;
    height: auto;
}

.Rachel-Green-text>p {
    width: 55%;
}

.Rachel-Green-text>button {
    margin: 2rem 0 0 0;
    width: 20%;
    height: auto;
    padding: 0.8rem;
    background-color: var(--green);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;

}

.Green-Box {
    background-color: var(--green);
    width: 40vh;
    height: 70vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-right: 20rem;

}

/* ======================================== My Main Hustle ============================================== */


.Main-Hustle-container {
    display: flex;
}


.Main-Hustle {
    background-image: url('/Images/bg.png');
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
}

.Main-Hustle>h1 {
    height: 5px;
    width: 5px;
    font-size: 4rem;
    font-weight: bolder;
}


.Hustle-Desc {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 40%;
    height: inherit;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.Hustle-Desc>div {
    text-align: start;
    justify-content: start;
    margin-left: 2rem;
    margin: 0.5rem;
}
.Hustle-Desc>div>h2{color: var(--green);}

.Hustle-Desc>div>p {
    font-size: small;
}

/* ========================================================================================= */

.My-Work {
    width: auto;
    text-align: center;
    margin-top: 2rem;
}

.My-Work>h1 {
    font-size: 4rem;
}

.My-Work>p {
    margin-top: 3rem
}

/* ========================================= My Work Card's============================================== */

.grid-image-container {
    margin: 5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: center;
    /* background-color: red; */
    /*border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    margin: 1rem;
}


.card {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    text-align: start;
}

.card>img {
    border-radius: 5%;
}

.card>h6 {
    color: rgb(48, 190, 48);
    font-weight: bold;
}


.Small-Green-Card {
    width: 30px;
    height: 30px;
    z-index: 1;
    margin-right: 7rem;
    position: absolute;
    background-color: var(--green);

}

/* ==================================== Proud Of ======================================================== */

.Proud-div {
    margin-top: 4rem;
    display: flex;
    width: auto;
    text-align: center;
    justify-content: space-between;
}

.Proud-Card {
    display: flex;
    flex-direction: column;
    background-color: var(--green);
    width: 30vw;
    height: 50vh;
    justify-content: center;
    align-items: flex-start;
}

.Proud-Card>p {
    color: white;
    margin-left: 4rem;
    font-size: 5rem;
    font-weight: bolder;
}

.Grid-Context{
    margin:  0 5rem 2rem 5rem;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 10px;   
}


.Grid-Context-text{
    width: 13rem;
    margin: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-items: flex-end;
    text-align: start;
}

.Grid-Context>p{word-wrap: break-word;}


.Green-Bar{
    width: 25px;
    height: 2px;
    background-color: var(--green);
}


/* ============================ My Side Hustle ========================================== */


/* .Side-Hustle{
    display: flex;
    width: auto;
    text-align: center;
    justify-content: space-between;
} */


.Side-Hustle-text{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    justify-content: center;
    padding-left: 8rem;
    
}

.Side-Hustle-text>h6{
    font-size: 5rem;
    width: 1px;
    color: var(--green);
    font-weight: bolder;
}

.Side-Hustle-text>p{
    text-align: end;
    margin: 1rem 0 0 0;
}

.Side-Hustle-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.Side-Hustle-image>div{
    display: flex;
}

/*  ================================ footer ===================================== */

.footer-div{
    width: 40vw;
    height: 40vh;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}


.footer-div>a{color: white;}
.Contact{
    font-weight: bolder;
    font-size: 3rem;
    text-decoration: none;
}

.Contact-images{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.Contact-images>a>img{
    margin: 0 0.5rem 0 0.5rem;
    cursor: pointer;
}

.rights{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-end;
    padding-bottom:4.5rem ;
    padding-right: 6rem;
    font-size: 15px;
    font-weight: bold;
}
